.main_header {
    color: #2E5266;
    text-align: left;
    margin-left: 200px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 40px; 
}
h1 {
    color: #2E5266;
    text-align: center;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 40px; 
}
#logo {
    position: absolute;
    top: 30px;
    left: 20px;
}
.description {
    font-size: 20px;
}

h2 {
    color: #6E8898;
    text-align: center;
}

h3 {
    color: #6E8898;
    text-align: center;
}

p{
    max-width: 1000px;
    margin: 0 auto;
}
.box {
    height: 2px;
    width: 1850px;
    background-color: #2E5266;
}

#options_box{
    height: 45px;
    width: 1150px;
    position: absolute;
    top: 40px;
    left: 700px;
    background-color: #6e8898;
    border: 2px solid #2E5266;
}
a {
    text-decoration: none;
    color: #e2c044;
}
a[href^="https"] {
  color: #e2c044;
}

nav a{
    color:#ffffff;
    text-decoration: none;
    font-size: 20px;
}

/* found list-style-type through https://www.w3schools.com/cssref/pr_list-style-type.php */
#schedules{
    list-style-type: none;
    position: absolute;
    top: 52px;
    left: 770px;
}
#possible_careers{
    list-style-type: none;
    position: absolute;
    top: 52px;
    left: 970px;
}
#courses{
    list-style-type: none;
    position: absolute;
    top: 52px;
    left: 1170px;
}
#contact{
    list-style-type: none;
    position: absolute;
    top: 52px;
    left: 1340px;
}

.box2 {
    position: absolute;
    left: 200px;
    height: 2px;
    width: 1500px;
    background-color: #D3D0CB;
}

body {
    text-align: center;
    background-color:#ffffff ;
}

* {
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

#box_image1{
    height: 245px;
    width: 317px;
    border: 3px solid #2E5266;
    background-color: #9fb1bc;
    position: absolute;
    top: 800px;
    left: 190px;
}

#img_caption1{
    font-weight: bold;
    position: absolute;
    top: 810px;
    left: 300px;
    color: #ffffff;
    font-size: 20px;
}

#img1{
    position: absolute;
    top: 840px;
    left: 200px;
}

#box_image2{
    height: 245px;
    width: 317px;
    border: 3px solid #2E5266;
    background-color: #9fb1bc;
    position: absolute;
    top: 800px;
    left: 610px;
}

#img_caption2{
    font-weight: bold;
    position: absolute;
    top: 810px;
    left: 700px;
    color: #ffffff;
    font-size: 20px;
}

#img2{
    position: absolute;
    top: 840px;
    left: 620px;
}

#box_image3{
    height: 245px;
    width: 317px;
    border: 3px solid #2E5266;
    background-color: #9fb1bc;
    position: absolute;
    top: 800px;
    left: 1010px;
}

#img_caption3{
    font-weight: bold;
    position: absolute;
    top: 810px;
    left: 1080px;
    color: #ffffff;
    font-size: 20px;
}

#img3{
    position: absolute;
    top: 840px;
    left: 1020px;
}

#box_image4{
    height: 245px;
    width: 317px;
    border: 3px solid #2E5266;
    background-color: #9fb1bc;
    position: absolute;
    top: 800px;
    left: 1410px;
}

#img_caption4{
    font-weight: bold;
    position: absolute;
    top: 810px;
    left: 1480px;
    color: #ffffff;
    font-size: 20px;
}

#img4{
    position: absolute;
    top: 840px;
    left: 1420px;
}

