h1 {
    color: #2E5266;
    text-align: center;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

h2 {
    color: #6E8898;
    text-align: center;
}

.box {
    height: 2px;
    width: 2000px;
    border: 10px solid #2E5266;
    background-color: #2E5266;
}

.box2 {
    height: 2px;
    width: 2000px;
    background-color: #D3D0CB;
}

body {
    text-align: center;
    background-color:#ffffff ;
}

/* found transform on https://www.w3schools.com/cssref/css3_pr_transform.php */
table {
    text-align: center;
    transform: translateX(-200px);
}

* {
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

img {
    position: absolute;
    top: 400px;
    right: 300px;
}

#img_caption{
    font-weight: bold;
    position: absolute;
    top: 355px;
    right: 370px;
    color: #ffffff;
    font-size: 18px;
}

#box3 {
    height: 230px;
    width: 300px;
    border: 10px solid #6E8898;
    background-color: #6E8898;
    position: absolute;
    top: 370px;
    right: 290px;
}